include ../button/button

mixin dropdown({dropdown})
  .dropdown.js-dropdown&attributes(attributes)
    p.dropdown__label= dropdown.title
    .dropdown__body
      input.dropdown__input(type = 'text' placeholder = dropdown.placeholder readonly)
    .dropdown__list
      each item in dropdown.items
        .dropdown__item(data-name = item.name, data-voc = item.voc)
          .dropdown__item-label= item.label
          .dropdown__item-controls
            button.dropdown__button.dropdown__button--minus(type = 'button') remove
            span.dropdown__item-quantity 0
            button.dropdown__button.dropdown__button--plus(type = 'button') add
      .dropdown__controls
        +button({text: 'Очистить'})(class = 'button--cancel dropdown__clear')
        div.dropdown__apply-wrapper
          +button({text: 'Применить'})(class = 'dropdown__apply')
