@import "../../scss/variables";
@import "../../scss/mixins";

.signup__container {
  padding: 20px 10px 20px;
  background: #FFFFFF;
}

.signup__title {
  margin: 0;
  @include titleFont;
  text-align: center;
}

.signup__form {
  padding: 20px 0 30px;

  button {
    margin-top: 20px;
  }
}

.signup__label {
  margin: 20px 0 5px;
  @include labelFont;
}

.signup__field {
  margin-bottom: 10px;
  @include input;
}

.signup__radioset {
  display: flex;

  label:not(:last-child) {
    margin-right: 20px;
  }
}

.signup__footer {
  text-align: center;

  & > p:first-child {
    margin-bottom: 10px;
  }
}

@include phone-up {

  .signup__container {
    padding: 40px 30px 30px;
    border: 1px solid $dark-10;
    border-radius: 4px;
    box-shadow: 0 0 25px $dark-25;
  }

  .signup__title {
    text-align: left;
  }

  .signup__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p:first-child {
      margin-bottom: 0;
    }
  }
}
