@import "../../../scss/variables";
@import "../../../scss/mixins";

.product__gallery {
  display: grid;
  grid: repeat(2, (485px/2)) / 68% 32%;
}

.product__img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  &--large {
    grid-row: span 2;
  }
}

.product__container {
  padding: 70px 20px;
  //display: flex;
  //justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 380px;
  column-gap: 6%;
}

.product__row {
  display: flex;
  justify-content: space-between;
}

.product__heading {
  margin: 0;
  @include featureFont
}

.product__impressions {
  padding-right: 20px;

  .product__heading {
    margin: 0 0 5px 19px;
  }
}

.product__chart {
  .chart__content {
    width: 158px;
  }
}

.product__reviews {
  margin-top: 10px;
}

.product__reviews-header {
  display: flex;
  justify-content: space-between;
}
.product__reviews-quantity {
  color: $dark-50;
}
.product__reviews-content {
  padding: 20px 0 30px;
}

.product__rules {

  .product__heading {
    margin: 0 0 15px 20px;
  }
}

.product__bulletlist {
  max-width: 261px;
}

.product__refusal-text {
  max-width: 340px;
  margin-top: 20px;
}
