include ../../dropdown/dropdown
include ../../dateselector/dateselector
include ../../options/options
include ../../rangeslider/rangeslider
include ../../expandable/expandable

mixin catalog({guestsDropdown, priceRange, facilitiesDropdown, dateselector, capabilities, accessibility, additional})
  main.main.catalog
    .container.catalog__container
      aside.filter.catalog__filter
        +dateselector(dateselector)
        +dropdown(guestsDropdown)
        +rangeslider(priceRange)
        +options(capabilities)
        +options(accessibility)
        +dropdown(facilitiesDropdown)
        +expandable(additional)
          +options(additional.content)
      article.rooms.catalog__rooms
        h1.catalog__title Номера, которые мы для вас подобрали
