@import "../../../scss/variables";
@import "../../../scss/mixins";

.catalog__container {
  display: flex;
  padding: 30px 20px 70px;
}

.catalog__filter {
  flex-basis: 266px;

  & > div {
    margin-bottom: 30px;
  }
}

.catalog__content {
  flex-grow: 1;
  padding-left: 60px;
}

.catalog__title {
  margin: 0 0 20px;
  @include titleFont;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px 12px;
}

.catalog__pagination {
  margin-top: 40px;
}
