include ../../dropdown/dropdown
include ../../dateselector/dateselector
include ../../options/options
include ../../rangeslider/rangeslider
include ../../expandable/expandable
include ../../catalog-item/catalog-item
include ../../pagination/pagination

mixin catalog(options)
  -
    const {
      dateselector,
      guestsDropdown,
      priceRange,
      capabilities,
      accessibility,
      facilitiesDropdown,
      additional,
      title,
      products,
      pagination
    } = options

  main.main.catalog
    .container.catalog__container
      aside.filter.catalog__filter
        +dateselector(dateselector)
        +dropdown(guestsDropdown)
        +rangeslider(priceRange)
        +options(capabilities)
        +options(accessibility)
        +dropdown(facilitiesDropdown)
        +expandable(additional)
          +options(additional.content)
      article.catalog__content
        h1.catalog__title= title
        section.catalog__list
          each item in products
            +catalogItem(item)
        +pagination(pagination)(class = 'catalog__pagination')
