include ../../dropdown/dropdown
include ../../dateselector/dateselector

mixin catalog({dropdown, dateselector})
  main.main.catalog
    .container.catalog__container
      aside.filter.catalog__filter
        +dateselector(dateselector)(class = 'catalog__dateselector')
        +dropdown(dropdown)(class = 'catalog__dropdown')
      article.rooms.catalog__rooms
        h1.catalog__title Номера, которые мы для вас подобрали
