@import "../../../scss/variables";
@import "../../../scss/mixins";

.catalog__container {
  padding: 30px 20px 70px;
}

.catalog__expandable-filter {
  & > .expandable__header {
    outline: none;

    &:after {
      content: 'filter_list';
    }

    .expandable__label {
      text-align: right;
      transform: translateX(-50px);
    }
  }
}

.catalog__filter > div {
  margin-bottom: 30px;
}

.catalog__title {
  margin: 0 0 20px;
  @include titleFont;
  text-align: center;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px 12px;
}

.catalog__pagination {
  margin-top: 40px;
}


@include tablet-portrait-up {
  .catalog__title {
    text-align: left;
  }

  .catalog__container {
    display: flex;
  }

  .catalog__expandable-filter {
    flex-shrink: 0;
    flex-basis: 266px;

    & > .expandable__header {
      display: none;
    }

    & > .expandable__content {
      display: block;
    }
  }

  .catalog__content {
    flex-grow: 1;
    padding-left: 30px;
  }
}

@include desktop-up {
  .catalog__content {
    padding-left: 60px;
  }
}
