@import "../../scss/variables";
@import "../../scss/mixins";

.datepicker {
  position: absolute;
  left: -100000px;
  opacity: 0;
  padding: 20px;
  background: #fff;
  border: 1px solid $dark-25;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  width: 300px;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100;

  @include phone-up {
    width: 320px;
  }
}

.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
}

.datepicker--content {
  padding: 30px 0 20px;
}

.datepicker--body {
  display: none;
}

.datepicker--body.active {
  display: block;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}

// Nav
.datepicker--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datepicker--nav-action {
  @include material-icon(24px, 24px, $primary-color);
  cursor: pointer;
  user-select: none;
}

.datepicker--nav-action:hover {
  color: rgba(188, 156, 255, 0.5);
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

// Title
.datepicker--nav-title {
  @include featureFont;
}

.datepicker--nav-title i {
  @include featureFont;
  margin-left: 5px;
}

// Days of week
.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker--day-name {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font-weight: bold;
  flex: 1;
}

// Cells
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.datepicker--cell {
  position: relative;
  width: 39.7px;
  height: 39.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.datepicker--cell.-focus- {
  color: #ffffff;
  background: $primary-gradient-50;
  font-weight: bold;
}

.datepicker--cell.-current- {
  color: #ffffff;
  font-weight: bold;
  background: $secondary-gradient-100;
}

.datepicker--cell.-current-.-focus- {
  background: $secondary-gradient-50;
}

.datepicker--cell.-in-range- {
  background: $primary-gradient-25;
  border-radius: 0;
}

.datepicker--cell.-disabled- {
  cursor: default;
  color: $dark-25;
}

.datepicker--cell.-disabled-.-focus- {
  background: none;
  font-weight: normal;
}

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-range-from-, .datepicker--cell.-range-to- {
  background: $primary-gradient-100;
  position: relative;
}

.datepicker--cell.-range-from-:after, .datepicker--cell.-range-to-:before {
  content: '';
  position: absolute;
  height: 40px;
  width: 15px;
  background: $primary-gradient-25;
}

.datepicker--cell.-range-from-:after {
  right: 0;
}

.datepicker--cell.-range-to-:before {
  left: 0;
}

.datepicker--cell.-selected- {
  color: #fff;
  background: $primary-gradient-100;
  font-weight: bold;
}

.datepicker--cell.-selected-.-current- {
  background: $primary-gradient-100;
}

.datepicker--cell.-selected-.-focus- {
  background: $primary-gradient-100;
}

.datepicker--cell:empty {
  cursor: default;
}

// Buttons
.datepicker--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datepicker--button {
  @include labelFont($dark-50);
  cursor: pointer;

  &:hover, &:focus {
    color: $dark-75;
  }
}

.datepicker--button-apply {
  @include labelFont($primary-color);
  cursor: pointer;

  &:hover, &:focus {
    color: rgba(188, 156, 255, 0.5);
  }
}
