@import "../../../scss/variables";
@import "../../../scss/mixins";

.auth__container {
  padding: 0;
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $dark-10;
}

.auth__signin {
  display: none;

  &--active {
    display: block;
  }
}

.auth__signup {
  display: none;

  &--active {
    display: block;
  }
}

@include phone-up {
  .auth {
    background: url("../img/auth-bg.png") center center no-repeat;
    background-size: cover;
  }

  .auth__container {
    padding: 70px 20px 70px;
    align-items: center;
    border-top: 0;
  }
}

@include desktop-up {
  .auth__container {
    height: 830px;
  }
}
