mixin subscription({placeholder})
  form.subscription&attributes(attributes)
    input.subscription__input(type = 'email' placeholder=placeholder)
    button.subscription__button(type = 'submit') arrow_forward
