@import "../../scss/variables";
@import "../../scss/mixins";

.subscription {
  position: relative;
}

.subscription__input {
  @include input(54px)
}

.subscription__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px 15px;
  @include material-icon(24px, 24px, $primary-color);
  cursor: pointer;
  background: transparent;
  border: 0;
}
