extends ../layout/main

include ../../components/pages/catalog/catalog

block variables
  -const title = 'Catalog page'

block content
  +catalog({
    title: 'Номера, которые мы для вас подобрали',
    dateselector: {placeholder: 'ДД.ММ - ДД.ММ', labels: ['даты пребывания в отеле']},
    guestsDropdown: {
      title: 'Гости',
      placeholder: 'Сколько гостей',
      items: [
        { name: 'adults', label: 'Взрослые', voc: 'гость, гостя, гостей' },
        { name: 'kids', label: 'Дети', voc: 'ребенок, ребенка, детей' },
        { name: 'babies', label: 'Младенцы', voc: 'младенец, младенца, младенцев' }
      ]
    },
    priceRange: {
      title: 'Диапазон цены',
      desc: 'Стоимость за сутки пребывания в номере',
      min: 0,
      max: 15000,
      step: 100,
      start: 5000,
      end: 10000,
      suffix: '₽'
    },
    capabilities: {
      title: 'Возможности',
      name: 'capabilities',
      list: [
        { label: 'Можно курить', value: 'smoke allowed' },
        { label: 'Можно с питомцами', value: 'pets allowed', checked: true },
        { label: 'Можно пригласить гостей (до 10 человек)', value: 'guests allowed', checked: true }
      ]
    },
    accessibility: {
      title: 'Доступность',
      name: 'accessibility',
      list: [
        {
          label: 'Широкий коридор', value: 'wide corridor',
          desc: 'Ширина коридоров в номере не менее 91 см.'
        },
        {
          label: 'Помощник для инвалидов', value: 'disable assistant',
          desc: 'На 1 этаже вас встретит специалист и проводит до номера.'
        }
      ]
    },
    facilitiesDropdown: {
      title: 'Удобства номера',
      placeholder: 'Выберите удобства',
      items: [
        { name: 'bedrooms', label: 'Спальни', voc: 'спальня, спальни, спален' },
        { name: 'beds', label: 'Кровати', voc: 'кровать, кровати, кроватей' },
        { name: 'bathrooms', label: 'Ванные комнаты', voc: 'ванная, ванные, ванных' }
      ]
    },
    additional: {
      title: 'Дополнительные удобства',
      content: {
        title: '',
        name: 'additional',
        list: [
          {label: 'Завтрак', value: 'breakfast'},
          {label: 'Письменный стол', value: 'desc'},
          {label: 'Стул для кормления', value: 'feeding chair'},
          {label: 'Кроватка', value: 'Crib'},
          {label: 'Телевизор', value: 'TV'},
          {label: 'Шампунь', value: 'shampoo'},
        ]
      }
    },
    products: [
      {
        title: '888',
        images: [
          'assets/img/room-thumb-1.png',
          'assets/img/room-thumb-2.png',
          'assets/img/room-thumb-3.png',
          'assets/img/room-thumb-4.png'
        ],
        label: 'Люкс',
        price: 9990,
        testimonials: 145,
        rating: 5
      },
      {
        title: '840',
        images: [
          'assets/img/room-thumb-2.png',
          'assets/img/room-thumb-3.png',
          'assets/img/room-thumb-4.png',
          'assets/img/room-thumb-5.png'
        ],
        price: 9900,
        testimonials: 65,
        rating: 4
      },
      {
        title: '980',
        images: [
          'assets/img/room-thumb-3.png',
          'assets/img/room-thumb-4.png',
          'assets/img/room-thumb-5.png',
          'assets/img/room-thumb-6.png'
        ],
        label: 'Люкс',
        price: 8500,
        testimonials: 35,
        rating: 3
      },
      {
        title: '856',
        images: [
          'assets/img/room-thumb-4.png',
          'assets/img/room-thumb-5.png',
          'assets/img/room-thumb-6.png',
          'assets/img/room-thumb-7.png'
        ],
        price: 7300,
        testimonials: 19,
        rating: 5
      },
      {
        title: '740',
        images: [
          'assets/img/room-thumb-5.png',
          'assets/img/room-thumb-6.png',
          'assets/img/room-thumb-7.png',
          'assets/img/room-thumb-8.png'
        ],
        price: 6000,
        testimonials: 44,
        rating: 4
      },
      {
        title: '982',
        images: [
          'assets/img/room-thumb-6.png',
          'assets/img/room-thumb-7.png',
          'assets/img/room-thumb-8.png',
          'assets/img/room-thumb-9.png'
        ],
        price: 5800,
        testimonials: 56,
        rating: 3
      },
      {
        title: '678',
        images: [
          'assets/img/room-thumb-7.png',
          'assets/img/room-thumb-8.png',
          'assets/img/room-thumb-9.png',
          'assets/img/room-thumb-10.png'
        ],
        price: 5500,
        testimonials: 45,
        rating: 5
      },
      {
        title: '450',
        images: [
          'assets/img/room-thumb-8.png',
          'assets/img/room-thumb-9.png',
          'assets/img/room-thumb-10.png',
          'assets/img/room-thumb-11.png'
        ],
        price: 5300,
        testimonials: 39,
        rating: 4
      },
      {
        title: '350',
        images: [
          'assets/img/room-thumb-9.png',
          'assets/img/room-thumb-10.png',
          'assets/img/room-thumb-11.png',
          'assets/img/room-thumb-12.png'
        ],
        price: 5000,
        testimonials: 77,
        rating: 3
      },
      {
        title: '666',
        images: [
          'assets/img/room-thumb-10.png',
          'assets/img/room-thumb-11.png',
          'assets/img/room-thumb-12.png',
          'assets/img/room-thumb-1.png'
        ],
        price: 5000,
        testimonials: 25,
        rating: 5
      },
      {
        title: '444',
        images: [
          'assets/img/room-thumb-11.png',
          'assets/img/room-thumb-12.png',
          'assets/img/room-thumb-1.png',
          'assets/img/room-thumb-2.png'
        ],
        price: 5000,
        testimonials: 15,
        rating: 3
      },
      {
        title: '352',
        images: [
          'assets/img/room-thumb-12.png',
          'assets/img/room-thumb-1.png',
          'assets/img/room-thumb-2.png',
          'assets/img/room-thumb-3.png'
        ],
        price: 5000,
        testimonials: 55,
        rating: 3
      },
    ],
    pagination: {currentPage: 7, totalItems: 175, itemsPerPage: 12, descEnding: 'вариантов аренды'}
  })
