extends ../layout/main

include ../../components/pages/home/home

block variables
  -var title = 'Home page'


block content
  +home({
    slider: {delay: 5, images: ['home-slide-1', 'home-slide-2', 'home-slide-3']},
    dateselector: {placeholder: 'ДД.ММ.ГГГГ', labels: ['Прибытие', 'Выезд'],},
    dropdown: {
      title: 'Гости',
      placeholder: 'Сколько гостей',
      items: [
        {
          name: 'adults',
          label: 'Взрослые',
          voc: 'гость, гостя, гостей',
        },
        {
          name: 'kids',
          label: 'Дети',
          voc: 'ребенок, ребенка, детей',
        },
        {
          name: 'babies',
          label: 'Младенцы',
          voc: 'младенец, младенца, младенцев',
        }
      ]
    },
    button: {type: 'submit', text: 'Подобрать номер'}
  })

