extends ../layout/main

include ../../components/pages/index

block variables
  -var title = 'Index'

block header

block content
  +index({
      list: ['ui', 'home', 'auth', 'room', 'catalog']
  })

block footer

