extends ../layout/main

include ../../components/pages/index/index

block variables
  -const title = 'Index'

block header
block content
  +index({
      list: ['home', 'auth', 'product', 'catalog'],
      logoImg: 'assets/img/logotype.svg',
  })
block footer
