extends ../layout/main

include ../../components/pages/index

block variables
  -const title = 'Index'

block header
block content
  +index({
      list: ['ui', 'home', 'auth', 'product', 'catalog']
  })
block footer
