extends ../layout/main

include ../../components/pages/product/product

block variables
  -const title = 'Product page'

block content
  +product({
    title: 'Номер 888 Люкс - 9900 руб/сутки',
    gallery: ['assets/img/home-slide-1.jpg', 'assets/img/home-slide-2.jpg', 'assets/img/home-slide-3.jpg'],
    features: [
      {title: 'Комфорт', icon: 'tag_faces', desc: 'Шумопоглощающие стены'},
      {title: 'Удобство', icon: 'location_city', desc: 'Окно в каждой из спален'},
      {title: 'Уют', icon: 'whatshot', desc: 'Номер оснащён камином'}
    ],
    reviews: [
     {
       author: 'Мурад Сарафанов',
       avatar: 'assets/img/murad.jpg',
       date: '5 дней назад',
       text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
       likes: 12
     },
      {
        author: 'Патрисия Стеклышкова',
        avatar: 'assets/img/patricia.jpg',
        date: 'Неделю назад',
        text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.',
        likes: 2
      },
    ],
    chart: {
      data: [
        { label: 'Удовлетворительно', percents: 25, color: ["#BC9CFF", "#8BA4F9"] },
        { label: 'Хорошо', percents: 25, color: ["#6FCF97", "#66D2EA"] },
        { label: 'Великолепно', percents: 50, color: ["#FFE39C", "#FFBA9C"] },
      ],
      number: 260,
      label: ['голос', 'голоса', 'голосов']
    },
    rules: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'],
    refusal: 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.',
    book: {
      title: '888',
      label: 'Люкс',
      price: 9990,
      dateselector: {placeholder: 'ДД.ММ.ГГ', labels: ['Прибытие', 'Выезд']},
      dropdown: {
        title: 'Гости',
        placeholder: 'Сколько гостей',
        items: [
          {name: 'adults', label: 'Взрослые', voc: 'гость, гостя, гостей'},
          {name: 'kids', label: 'Дети', voc: 'ребенок, ребенка, детей'},
          {name: 'babies', label: 'Младенцы', voc: 'младенец, младенца, младенцев'}
        ]
      },
      options: [
        {label: '9 990₽ х 4 суток', cost: '39 960₽'},
        {label: 'Сбор за услуги: скидка 2 179₽', cost: '0'},
        {label: 'Дополнительные услуги', cost: '300₽'},
      ],
      button: {type: 'submit', text: 'Забронировать'}
    }
  })
