include ../slider/slider
include ../price/price
include ../name/name

mixin catalogItem({title, images, label, price, rating, testimonials})
  .catalog-item&attributes(attributes)
    .catalog-item__preview
      +slider({slides: images})(class = 'catalog__slider')
    .catalog-item__main
      .catalog-item__info
        a.catalog-item__link(href= '/product.html' target = '_blank')
          +name({title, label})
        +price({price})(class = 'catalog-item__price')
      .catalog-item__rating
        .catalog-item__stars
          each star in Array(rating)
            span star
          each nostar in Array(5 - rating)
            span star_border
        a.catalog-item__testimonials.catalog-item__link(href= '/product.html' target = '_blank')= testimonials
          span Отзывов
