include ../logo/logo
include ../nav/nav
include ../button/button

mixin header({logoImg, menuList, user})
  header.header
    .header__container.container
      +logo({src: logoImg})(class = 'header__logo')
      +nav({list: menuList})(class = 'header__nav')
        .header__auth
          if user
            a.header__auth-link(href="#")= user
          else
            a.button.header__button.button--ghost(href = '/auth.html') Войти
            a.button.header__button.button--filled(href = '/auth.html?signup') Зарегистрироваться
      block


