@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  box-shadow: 0 10px 20px $dark-5;
}

.header__container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;

  .nav__link {
    padding: 26px 0;
  }
}

.header__auth {

  .button:first-child{
    margin-right: 18px;
  }
}

.header__auth-link {
  position: relative;
  padding-left: 20px;
  @include navFont;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
  }
}

.header__button {
  &.button--filled {
    padding: 10px 20px;
  }
  &.button--ghost {
    padding: 8px 18px;
  }
}
