include ../../button/button
include ../../dropdown/dropdown
include ../../dateselector/dateselector

mixin home({slider, dateselector, dropdown, button})
  main.main.home
    each slide, index in slider.images
      .home__slide(style = `background-image: url('assets/img/${slide}.jpg');
                            animation-delay: ${index * slider.delay}s;
                            animation-duration: ${slider.images.length * slider.delay}s;`)
    .home__container.container
      form.home__form
          h1.home__title Найдём номера под ваши пожелания
          +dateselector(dateselector)(class = 'home__dateselector')
          +dropdown(dropdown)(class = 'home__dropdown')
          +button(button)(class = 'button--filled button--wide')
      p.home__text Лучшие номера для вашей работы, отдыха и просто вдохновения
