@import "../../../scss/variables";
@import "../../../scss/mixins";

.home {
  position: relative;
}

.home__container {
  padding: 70px 20px 30px;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__title {
  margin: 10px 0 20px;
  @include titleFont;
}

.home__form {
  width: 380px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.home__dateselector {
  margin-bottom: 20px;
}

.home__dropdown {
  margin-bottom: 30px;
}

.home__slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  animation: anim_slides 0s linear infinite 0s;
}

@keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home__text {
  align-self: flex-end;
  max-width: 300px;
  text-align: right;
}

