@import "../../scss/variables";
@import "../../scss/mixins";

.litepicker {
  cursor: pointer;
}

.button-next-month {
  @include material-icon(24px, 20px, $primary-color)
}

.button-previous-month {
  @include material-icon(24px, 20px, $primary-color)

}

.reset-button {
  bottom: 10px;

}

.button-apply {
  cursor: pointer;
}

.button-cancel {
  display: none;
}

.preview-date-range {
  display: none;
}

.is-today {
  background: green;
  color: white;
}
