include ../../components/header/header
include ../../components/footer/footer

block variables

doctype html
html(lang='ru')
  head
    block metatags
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="description" content="Toxin - booking hotels")
      meta(name="keywords" content="Toxin, booking, hotels")
      meta(name="msapplication-TileColor" content="#603cba")
      meta(name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png")
      meta(name="theme-color" content="#ffffff")
    block links
      link(rel="preload" href="assets/fonts/montserrat-bold.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="assets/fonts/montserrat-regular.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="assets/fonts/open-sans-bold.woff2" as="font" crossorigin="anonymous")
      link(rel="manifest" href="assets/favicons/site.webmanifest")
      link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
      link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
      link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
      link(rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-touch-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon-180x180.png")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title #{title} | Toxin
  body
    block header
      +header({
          logoImg: 'assets/img/logotype.svg',
          menuList: {
              1: 'О нас',
              2: {
                label: 'Услуги',
                list: ['Lorem', 'Ipsum', 'Dolor', 'Sit amet', 'Voluptata!']
              },
              3: 'Вакансии',
              4: 'Новости',
              5: {
                  label: 'Соглашения',
                  list: ['Lorem', 'Ipsum', 'Dolor', 'Sit amet', 'Voluptata!']
              }
          }
      })
    main.main
      block content
    block footer
      +footer({
          logoImg: 'assets/img/logotype.svg',
          declarationText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
          menuList: {
              1: {
                label: 'Навигация',
                list: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
              },
              2: {
                  label: 'О нас',
                  list: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
              },
              3: {
                  label: 'Служба поддержки',
                  list: ['Соглашения', 'Сообщества', 'Связь с нами']
              }
          },
          subscription: {
              label: 'Подписка',
              text: 'Получайте специальные предложения и новости сервиса',
              placeholder: 'Email',
          },
          copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
          socials : ['twitter', 'facebook', 'instagram']
      })
