@import "variables";

// Font
@mixin titleFont {
  font-size: $titleFontSize;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  color: $dark-100;
}

@mixin labelFont($color: $dark-100) {
  font-size: $labelFontSize;
  line-height: 15px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: $color;
}

@mixin navFont {
  font-size: $mainFontSize;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  color: $dark-50;
}

@mixin featureFont {
  font-size: $featureFontSize;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
  color: $dark-100;
}


// Media Queries
@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: $phone) {
    @content;
  }
}


@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin material-icon($fs, $ln, $color) {
  -webkit-font-smoothing: antialiased;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: $fs;
  line-height: $ln;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  color: $color;
}

