mixin nav({list})
  nav.nav&attributes(attributes)
    ul.nav__list
      each value in list
        li.nav__item(class=value.label && 'nav__item--dropdown')
          if typeof value === 'object'
            a.nav__link(href='#')= value.label
            ul.nav__dropdown
              each item in value.list
                li.nav__dropdown-item
                  a.nav__dropdown-link(href='#')= item
          else
            a.nav__link(href='#')= value
